html {
	scroll-behavior: smooth;
}

:target {
	scroll-margin-top: 4rem;
}

/* ::selection {
    @apply bg-primary text-white;
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.cover-image {
	object-fit: cover;
	object-position: top;
}

/* Placeholder colors */
::placeholder {
	@apply text-neutral-400 opacity-100;
}

::-ms-input-placeholder {
	@apply text-neutral-400;
}
