@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-neutral-100 font-lato;
	}

	.section-page-size {
		@apply flex text-base  text-neutral-400 items-center gap-4;
	}

	.section-pagination {
		@apply flex justify-end px-3 py-3.5 border-t border-gray-200;
	}
}

@layer components {
	/**************************** flex styling ****************************/
	.flex-col-center {
		@apply flex flex-col justify-center items-center;
	}

	.flex-col-jcenter {
		@apply flex flex-col justify-center;
	}

	.flex-col-icenter {
		@apply flex flex-col items-center;
	}

	.flex-col-start {
		@apply flex flex-col justify-start items-start;
	}

	.flex-col-jstart {
		@apply flex flex-col justify-start;
	}

	.flex-col-istart {
		@apply flex flex-col items-start;
	}

	.flex-col-end {
		@apply flex flex-col justify-end items-end;
	}

	.flex-col-jend {
		@apply flex flex-col justify-end;
	}

	.flex-col-iend {
		@apply flex flex-col items-end;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.flex-jcenter {
		@apply flex justify-center;
	}

	.flex-icenter {
		@apply flex items-center;
	}

	.flex-jend {
		@apply flex justify-end;
	}

	.flex-iend {
		@apply flex items-end;
	}

	.flex-between {
		@apply flex justify-between;
	}

	.flex-jbetween-icenter {
		@apply flex justify-between items-center;
	}

	.flex-start {
		@apply flex flex-row justify-start items-start;
	}

	/**************************** word styling ****************************/
	h1 {
		@apply font-lato font-semibold text-2xl text-secondary-600;
	}

	h2 {
		@apply font-lato font-semibold text-xl text-secondary-600;
	}

	h3 {
		@apply font-lato font-semibold text-base text-secondary-600;
	}

	h4 {
		@apply font-lato font-medium text-base text-secondary-600;
	}

	p {
		@apply font-lato font-normal text-base;
	}

	/**************************** container styling ****************************/
	.container {
		@apply py-4;
	}

	/**************************** button styling ****************************/
	.button {
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}

	.button:hover {
		-webkit-transform: translateY(-5px);
		-moz-transform: translateY(-5px);
		transform: translateY(-5px);
		@apply shadow-lg;
	}

	/**************************** primary button ****************************/
	.button-primary-solid {
		@apply ring-1 ring-inset ring-main hover:ring-main-700 text-white bg-main focus-visible:ring-2 focus-visible:ring-main-500 hover:bg-main-700;
	}

	.button-primary-solid-disabled {
		@apply ring-1 ring-inset ring-main text-white disabled:bg-white;
	}

	.button-primary-outline {
		@apply ring-1 ring-inset ring-main text-main focus-visible:ring-2 focus-visible:ring-main hover:bg-main-100;
	}

	.button-primary-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-main-300 bg-transparent aria-disabled:bg-transparent;
	}

	/**************************** green button ****************************/
	.button-green-solid {
		@apply ring-1 ring-inset ring-green-400 hover:ring-green-700 text-white bg-green-400 focus-visible:ring-2 focus-visible:ring-green-500 hover:bg-green-700;
	}

	.button-green-solid-disabled {
		@apply ring-1 ring-inset ring-green-100 text-green-100 disabled:bg-green-50;
	}

	.button-green-outline {
		@apply ring-1 ring-inset ring-green-400 text-green-400 focus-visible:ring-2 focus-visible:ring-green-400 hover:bg-green-100;
	}

	.button-green-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-green-100 bg-neutral-300;
	}

	/**************************** danger button ****************************/
	.button-red-solid {
		@apply ring-1 ring-inset ring-red-600 hover:ring-red-700 text-white disabled:bg-white bg-red-600 focus-visible:ring-2 focus-visible:ring-red-500 hover:bg-red-700;
	}

	.button-red-ghost {
		@apply text-red-500/50 disabled:bg-red-50 hover:text-red-500;
	}

	.button-red-solid-disabled {
		@apply ring-1 ring-inset ring-red-100 text-red-100 disabled:bg-red-50;
	}

	.button-red-outline {
		@apply ring-1 ring-inset ring-red-600 text-red-600 focus-visible:ring-2 focus-visible:ring-red-600 hover:bg-red-100;
	}

	.button-red-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-red-100 bg-neutral-300;
	}

	/**************************** white button ****************************/
	.button-white-link {
		@apply bg-transparent text-white;
	}

	/**************************** neutral button ****************************/
	.button-neutral-solid {
		@apply ring-1 ring-inset ring-neutral-600 hover:ring-neutral-700 text-white disabled:bg-white bg-neutral-600 focus-visible:ring-2 focus-visible:ring-neutral-500 hover:bg-neutral-700;
	}

	.button-neutral-solid-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-neutral-100 disabled:bg-neutral-50;
	}

	.button-neutral-ghost {
		@apply text-neutral-300 hover:text-neutral-700 hover:bg-neutral-50 focus-visible:ring-inset focus-visible:ring-2 focus-visible:ring-primary-500;
	}

	.button-neutral-ghost-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-neutral-100 bg-neutral-300;
	}

	.button-neutral-soft {
		@apply text-neutral-400 bg-neutral-50 hover:bg-neutral-100 disabled:bg-neutral-50 aria-disabled:bg-neutral-50 focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-neutral-300;
	}

	.button-neutral-soft-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-neutral-100 bg-neutral-300;
	}

	.button-neutral-outline {
		@apply ring-1 ring-inset ring-neutral-300 text-neutral-800 focus-visible:ring-2 focus-visible:ring-neutral-300 hover:bg-neutral-100;
	}

	.button-neutral-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-neutral-100 bg-neutral-300;
	}

	/**************************** button styling ****************************/
}
