@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-neutral-100;
	}
}

@layer components {
	.container-px {
		@apply px-10 md:px-14 lg:px-32;
	}

	.container-mt {
		@apply mt-10 md:mt-20;
	}

	/**************************** button styling ****************************/
	.button {
		-webkit-transition: all ease 0.8s;
		-moz-transition: all ease 0.8s;
		transition: all ease 0.8s;
	}

	.button-color-primary-solid {
		@apply ring-1 ring-inset ring-main text-white disabled:bg-white bg-main focus-visible:ring-2 focus-visible:ring-main-500 hover:bg-primary-900;
	}

	.button-color-primary-solid-disabled {
		@apply ring-1 ring-inset ring-main text-white disabled:bg-white bg-main focus-visible:ring-2 focus-visible:ring-main-500 hover:bg-primary-900;
	}

	.button-color-primary-outline {
		@apply ring-1 ring-inset ring-primary text-primary focus-visible:ring-2 focus-visible:ring-main hover:bg-primary-100;
	}

	.button-color-primary-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-white bg-neutral-300;
	}
	/**************************** button styling ****************************/
}
