@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	/* Custom neutral color palette */
	--color-neutral-0: #ffffff;
	--color-neutral-50: #f5f5f5;
	--color-neutral-100: #eeeeee;
	--color-neutral-200: #e8e8e8;
	--color-neutral-300: #c4c4c4;
	--color-neutral-400: #9e9e9e;
	--color-neutral-500: #6a7077;
	--color-neutral-600: #61676d;
	--color-neutral-700: #3e4348;
	--color-neutral-800: #1f2326;
	--color-neutral-900: #151414;

	/* Custom main color palette */
	--color-main-50: #fff4e6;
	--color-main-100: #fef1e9;
	--color-main-200: #fcdcc8;
	--color-main-300: #fac7a7;
	--color-main-400: #f79d65;
	--color-main-500: #f37323;
	--color-main-600: #db6820;
	--color-main-700: #924515;
	--color-main-800: #6d3410;
	--color-main-900: #49230b;
	--color-main: #f37323;

	/* Custom secondary color palette */
	--color-secondary-50: #f2f6fa;
	--color-secondary-100: #e6ebf1;
	--color-secondary-200: #bfcedc;
	--color-secondary-300: #99b1c7;
	--color-secondary-400: #4d769c;
	--color-secondary-500: #003b72;
	--color-secondary-600: #003567;
	--color-secondary-700: #002344;
	--color-secondary-800: #001b33;
	--color-secondary-900: #001222;

	/* Custom font sizes */
	--font-size-xs: 0.8rem;
	--font-size-sm: 0.9rem;
	--font-size-md: 0.95rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.12rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 1.75rem;
	--font-size-4xl: 2.441rem;
	--font-size-5xl: 3.052rem;

	/* Custom border radius */
	--radius-card: var(--border-radius-card);
	--radius-button: var(--border-radius-button);
	--radius-input: var(--border-radius-input);
	--radius-panel: var(--border-radius-panel);

	/* Custom breakpoints */
	--breakpoint-xs: 475px;

	/* Custom animations */
	--animate-fade-in: fade-in 0.5s linear forwards;
	--animate-nav-accordion-down: nav-accordion-down 0.25s ease-out;
	--animate-nav-accordion-up: nav-accordion-up 0.2s ease-in;

	/* Font family */
	--font-family-lato: 'Lato', sans-serif;
}

html {
	scroll-behavior: smooth;
}

:target {
	scroll-margin-top: 4rem;
}

/* Sidebar nav accordion expand/collapse */
@keyframes nav-accordion-down {
	from {
		height: 0;
		opacity: 0;
	}
	to {
		height: var(--reka-accordion-content-height);
		opacity: 1;
	}
}

@keyframes nav-accordion-up {
	from {
		height: var(--reka-accordion-content-height);
		opacity: 1;
	}
	to {
		height: 0;
		opacity: 0;
	}
}

/* ::selection {
    @apply bg-primary text-white;
} */

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
	display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.cover-image {
	object-fit: cover;
	object-position: top;
}

/* Placeholder colors */
::placeholder {
	@apply text-neutral-400 opacity-100;
}

::-ms-input-placeholder {
	@apply text-neutral-400;
}

@layer base {
	.section-page-size {
		@apply flex text-base  text-neutral-400 items-center gap-4;
	}

	.section-pagination {
		@apply flex justify-end px-3 py-3 border-t border-neutral-200;
	}
}

@layer components {
	/**************************** flex styling ****************************/
	.flex-col-center {
		@apply flex flex-col justify-center items-center;
	}

	.flex-col-jcenter {
		@apply flex flex-col justify-center;
	}

	.flex-col-icenter {
		@apply flex flex-col items-center;
	}

	.flex-col-start {
		@apply flex flex-col justify-start items-start;
	}

	.flex-col-jstart {
		@apply flex flex-col justify-start;
	}

	.flex-col-istart {
		@apply flex flex-col items-start;
	}

	.flex-col-end {
		@apply flex flex-col justify-end items-end;
	}

	.flex-col-jend {
		@apply flex flex-col justify-end;
	}

	.flex-col-iend {
		@apply flex flex-col items-end;
	}

	.flex-center {
		@apply flex items-center justify-center;
	}

	.flex-jcenter {
		@apply flex justify-center;
	}

	.flex-icenter {
		@apply flex items-center;
	}

	.flex-jend {
		@apply flex justify-end;
	}

	.flex-iend {
		@apply flex items-end;
	}

	.flex-between {
		@apply flex justify-between;
	}

	.flex-jbetween-icenter {
		@apply flex justify-between items-center;
	}

	.flex-start {
		@apply flex flex-row justify-start items-start;
	}

	/**************************** word styling ****************************/
	h1 {
		@apply font-semibold text-2xl text-gray-900 dark:text-gray-100;
	}

	h2 {
		@apply font-semibold text-xl text-gray-800 dark:text-gray-200;
	}

	h3 {
		@apply font-semibold text-base text-gray-800 dark:text-gray-200;
	}

	h4 {
		@apply font-medium text-base text-gray-700 dark:text-gray-300;
	}

	p {
		@apply font-normal text-base text-gray-600 dark:text-gray-400;
	}

	/**************************** container styling ****************************/
	.container {
		@apply py-4;
	}

	/**************************** button styling ****************************/
	.button {
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}

	.button:hover {
		-webkit-transform: translateY(-5px);
		-moz-transform: translateY(-5px);
		transform: translateY(-5px);
		@apply shadow-lg;
	}

	/**************************** primary button ****************************/
	.button-primary-solid {
		@apply ring-1 ring-inset ring-main-500 hover:ring-main-700 text-white bg-main-500 focus-visible:ring-2 focus-visible:ring-main-500 hover:bg-main-700;
	}

	.button-primary-solid-disabled {
		@apply ring-1 ring-inset ring-main-500 text-white disabled:bg-white;
	}

	.button-primary-outline {
		@apply ring-1 ring-inset ring-main-500 text-main-500 focus-visible:ring-2 focus-visible:ring-main-500 hover:bg-main-100;
	}

	.button-primary-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-main-300 bg-transparent aria-disabled:bg-transparent;
	}

	/**************************** green button ****************************/
	.button-green-solid {
		@apply ring-1 ring-inset ring-green-400 hover:ring-green-700 text-white bg-green-400 focus-visible:ring-2 focus-visible:ring-green-500 hover:bg-green-700;
	}

	.button-green-solid-disabled {
		@apply ring-1 ring-inset ring-green-100 text-green-100 disabled:bg-green-50;
	}

	.button-green-outline {
		@apply ring-1 ring-inset ring-green-400 text-green-400 focus-visible:ring-2 focus-visible:ring-green-400 hover:bg-green-100;
	}

	.button-green-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-green-100 bg-neutral-300;
	}

	/**************************** danger button ****************************/
	.button-red-solid {
		@apply ring-1 ring-inset ring-red-600 hover:ring-red-700 text-white disabled:bg-white bg-red-600 focus-visible:ring-2 focus-visible:ring-red-500 hover:bg-red-700;
	}

	.button-red-ghost {
		@apply text-red-500/50 disabled:bg-red-50 hover:text-red-500;
	}

	.button-red-soft {
		@apply text-red-600 bg-red-50 hover:bg-red-100 disabled:bg-red-50 aria-disabled:bg-red-50 focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-red-300;
	}

	.button-red-solid-disabled {
		@apply ring-1 ring-inset ring-red-100 text-red-100 disabled:bg-red-50;
	}

	.button-red-outline {
		@apply ring-1 ring-inset ring-red-600 text-red-600 focus-visible:ring-2 focus-visible:ring-red-600 hover:bg-red-100;
	}

	.button-red-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-red-100 bg-neutral-300;
	}

	/**************************** white button ****************************/
	.button-white-link {
		@apply bg-transparent text-white;
	}

	/**************************** neutral button ****************************/
	.button-neutral-solid {
		@apply ring-1 ring-inset ring-neutral-600 hover:ring-neutral-700 text-white disabled:bg-white bg-neutral-600 focus-visible:ring-2 focus-visible:ring-neutral-500 hover:bg-neutral-700;
	}

	.button-neutral-solid-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-neutral-100 disabled:bg-neutral-50;
	}

	.button-neutral-ghost {
		@apply text-neutral-600 hover:text-neutral-900 hover:bg-neutral-100 disabled:bg-transparent aria-disabled:bg-transparent focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-neutral-300;
	}

	.button-neutral-ghost-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-neutral-100 bg-neutral-300;
	}

	.button-neutral-soft {
		@apply text-neutral-400 bg-neutral-50 hover:bg-neutral-100 disabled:bg-neutral-50 aria-disabled:bg-neutral-50 focus-visible:ring-2 focus-visible:ring-inset focus-visible:ring-neutral-300;
	}

	.button-neutral-soft-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-neutral-100 bg-neutral-300;
	}

	.button-neutral-outline {
		@apply ring-1 ring-inset ring-neutral-300 text-neutral-800 focus-visible:ring-2 focus-visible:ring-neutral-300 hover:bg-neutral-100;
	}

	.button-neutral-outline-disabled {
		@apply ring-1 ring-inset ring-neutral-100 text-neutral-100 bg-neutral-300;
	}

	/**************************** button styling ****************************/
}
